.outer-square {
  /* your css goes here */
  width: 600px;
  height: 600px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
}
.inner-square {
  /* your css goes here */
  box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}
.circle {
  /* your css goes here */
  box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 100%;
}

.inner-square:nth-child(odd) {
  grid-column: span 1;
  grid-row: span 1;
}

.inner-square:nth-child(even) {
  grid-column: span 2;
  grid-row: span 2;
}